.background-border {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 8px;
}

.background-border::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, transparent 45%, #000 100%);
  pointer-events: none;
}

.imgcentro {
  margin-top: 25vh;
  width: 70vh;
}

.img-fluid {
  border-radius: 20px 20px 20px 20px;
  border-color: none;
}

.conteudo {
  height: 70vh;
  width: 30vw;
  margin-top: 13vh;
  margin-left: 45vh;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(99, 0, 0));
  color: white;
  border-radius: 20px 20px 20px 20px;
  border-color: none;
}
.image-container {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.titan-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10% !important;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(99, 0, 0));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding-top: 10px;
}

.image-container:hover .titan-caption {
  opacity: 1;
}

.fs-6 {
  font-size: 0.9rem !important;
  color: rgb(255, 255, 255);
  font-family: fantasy;
}

.slide-fade-enter-active {
  transition: all 0.8s ease-in-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

@media (max-width: 1379px) {
  .conteudo {
    margin-left: 0;
    width: 40vw;
    margin-top: 5vh;
  }

  .imgcentro {
    margin-top: 5vh;
    width: 50%;
  }

  .background-border::after {
    background: radial-gradient(circle, transparent 85%, #000 100%);
  }
}